/* Error: Undefined variable.
 *   ,
 * 2 |     background-color: $avatarBg;
 *   |                       ^^^^^^^^^
 *   '
 *   ../../Development/projects/designer/designer-vue/designer-ui/src/assets/designer/components/misc/_avatar.scss 2:23                         @import
 *   ../../Development/projects/designer/designer-vue/designer-ui/src/assets/designer/_components.scss 81:9                                     @import
 *   ../../Development/projects/designer/designer-vue/designer-ui/src/assets/themes/material/material-light/standard/deeppurple/theme.scss 3:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502      background-color: $avatarBg;\a   \2502                        ^^^^^^^^^\a   \2575 \a   ../../Development/projects/designer/designer-vue/designer-ui/src/assets/designer/components/misc/_avatar.scss 2:23                         @import\a   ../../Development/projects/designer/designer-vue/designer-ui/src/assets/designer/_components.scss 81:9                                     @import\a   ../../Development/projects/designer/designer-vue/designer-ui/src/assets/themes/material/material-light/standard/deeppurple/theme.scss 3:9  root stylesheet";
}
