.poseidon {
    .template {
        &-hero {
            &-pattern {
                width: 102.3125rem;
                height: auto;
                position: absolute;
                bottom: 0rem;
                left: -26rem;
                z-index: 6;
            }
            &-dashboard1,
            &-dashboard2{
                width: 45rem;
            }
        }
    }

}
@media only screen and (max-width: 1200px) {
    .poseidon {
        .template{
            &-hero {
                &-pattern {
                    height: auto;
                    bottom: 0rem;
                    left: -34rem;
                }
            }
        }

    }
}
@media only screen and (max-width: 768px) {
    .poseidon {
        .template{
            &-hero {
                &-pattern {
                    height: auto;
                    bottom: 21rem;
                    left: -35rem;
                }
            }
        }

    }
}
