.sakai {
    .template {
        &-hero {
            &-pattern {
                width: 72.3125rem;
                height: auto;
                position: absolute;
                bottom: -1rem;
                left: -1rem;
                z-index: 6;
            }
            &-dashboard1,
            &-dashboard2{
                width: 42rem;
            }
        }
        &-features-horizontal-card{
            width: 30rem;
        }
    }

}

@media only screen and (max-width: 1200px) {
    .sakai {
        .template {
            &-hero {
                &-pattern {
                    width: 72.3125rem;
                    height: auto;
                    bottom: -1rem;
                    left: -2rem;
                }
            }
        }

    }
}

@media only screen and (max-width: 768px) {
    .sakai {
        .template {
            &-hero {
                &-pattern {
                    width: 64.3125rem;
                    height: auto;
                    bottom: 20rem;
                    left: -2rem;
                }
            }
        }

    }
}
