.p-button {
    display: inline-flex;
    cursor: pointer;
    margin-right: 0.25em;
    user-select: none;
    align-items: center;
}

.p-button:disabled {
    cursor: default;
}

.p-button-icon-only {
    justify-content: center;
}

.p-fluid .p-button {
    display: flex;
    width: 100%;
}

.p-fluid .p-button-icon-only {
    display: inline-flex;
    width: auto;
}