.p-button {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
}

.p-button-text {
    flex: 1 1 auto;
}

.p-button-icon-right {
    order: 1;
}

.p-button:disabled {
    cursor: default;
}

.p-button-icon-only {
    justify-content: center;
}

.p-button-icon-only .p-button-text {
    visibility: hidden;
    width: 0;
    flex: 0 0 auto;
}

.p-buttonset .p-button {
    margin: 0;
}

.p-buttonset .p-button:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.p-buttonset .p-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.p-buttonset .p-button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.p-buttonset .p-button:focus {
    z-index: 1;
}