.landing.layout-dark {
    --home-highlight-color:#34d399;
    --home-highlight-darker-color:#6ee7b7;
    --home-highlight-fore-color:#020617;
    --home-bg:#09090b;
    --home-border-color:#27272a;
    --home-primary-text-color:#ffffff;
    --home-secondary-text-color:#a1a1aa;
    --home-card-shadow:0px 50px 100px rgba(0, 0, 0, 0.25);
    --home-box-bg:#18181b;
    --home-linkbox-bg:rgba(255, 255, 255, .05);
    --home-linkbox-border:1px solid rgba(255, 255, 255, .1);
    --home-linkbox-text-color:#ffffff;
    --home-linkbox-hover-bg:rgba(255, 255, 255, .1);
    --home-blocks-bg:transparent;
    --home-blocks-block-bg:#09090b;
    --home-blocks-block-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.25) , 0px 4px 25px rgba(0, 0, 0, 0.25);
    --home-blocks-border-left:5px solid #27272a;
    --home-blocks-border-bottom:7px solid #27272a;
    --home-blocks-border:1px solid #27272a;
    --home-blocks-sidebar-bg:#18181b;
    --home-blocks-list-bg:#27272a;
    --home-blocks-main-bg:#09090b;
    --home-blocks-main-border:1px solid #27272a;
    --home-blocks-item-bg:#18181b;
    --home-blocks-image-bg:#27272a;
    --home-blocks-text-color:#52525b;
    --home-blocks-active-shadow:0px 30px 50px 0px rgba(0, 0, 0, 0.25);
    --home-blocks-active-border-top:1px solid #27272a;
    --home-blocks-active-border-right:1px solid #27272a;
    --home-blocks-active-border-bottom:6px solid #27272a;
    --home-blocks-active-border-left:4px solid #27272a;
    --home-blocks-animation-shadow:0px 30px 50px 20px rgba(0, 0, 0, 0.25);
    --home-blocks-tablebar-bg:#3f3f46;
    --home-blocks-bar-bg:#3f3f46;
    --home-blocks-bar-button-bg:#3f3f46;
    --home-blocks-circle-bg:#27272a;
    --home-templates-bg:transparent;
    --home-templates-block-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    --home-templates-block-border-left:5px solid #27272a;
    --home-templates-block-border-bottom:7px solid #27272a;
    --home-templates-line:rgba(255,255,255,.1);
    --home-templates-block-hover-bg:rgba(255,255,255,.1);
    --home-templates-btn-bg:#18181b;
    --home-templates-btn-text-color:#ffffff;
    --home-templates-btn-shadow:0px 10px 15px 0px rgba(0, 0, 0, 0.25);
    --home-templates-btn-border-top:1px solid #27272a;
    --home-templates-btn-border-right:1px solid #27272a;
    --home-templates-btn-border-bottom:4px solid #27272a;
    --home-templates-btn-border-left:3px solid #27272a;
    --home-features-card-shadow: none;
    --home-box-ring-color: rgba(52, 211, 153, .3);
}