.p-toast {
    position: fixed;
    width: 20em;
}

.p-toast-topright {
	top: 20px;
	right: 20px;
}

.p-toast-topleft {
	top: 20px;
	left: 20px;
}

.p-toast-bottomleft {
	bottom: 20px;
	left: 20px;
}

.p-toast-bottomright {
	bottom: 20px;
	right: 20px;
}

.p-toast-item-container {
	position:relative;
	margin:0 0 10px 0;
}

.p-toast-item {
	position: relative;
	display: block;
    padding: .5em 1em;
    overflow: hidden;
}

.p-toast-item .p-toast-detail {
	padding: 0;
	margin: 0;
}

.p-toast-icon-close {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor: pointer;
}

.p-toast-title {
	font-weight: bold;
	padding: 0 0 .5em 0;
	display: block;
}

.p-toast-image {
    position: absolute;
    display: inline-block;
    left: .5em;
    top: .25em;
    padding: 0;
	font-size: 2em;
}

.p-toast-message {
	padding: 0 0 .25em 0;
    margin-left: 2.5em;
}

.p-toast-message p {
	font-weight: normal;
}

/* Animations */
.p-toast-message-enter {
    opacity: 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.p-toast-message-leave {
    max-height: 1000px;
}

.p-toast-message-leave-to {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.p-toast-message-enter-active,
.p-toast-message-leave-active {
    -webkit-transition: all .3s;
    transition: all .3s;
}