.p-password-panel {
    padding: .25em .5em;
    margin-top: 2px;
}
 
.p-password-panel .p-password-meter {
    height: 10px;
    background:transparent url("./images/password-meter.png") no-repeat left top;
    padding: 0;
    margin: 0;
}
 
.p-password-info {
    margin-top: .25em;
}
 
.p-password-panel-overlay {
    position: absolute;
} 