<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /primevue-nuxt/
RewriteRule ^primevue-nuxt/index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /primevue-nuxt/index.php [L]
</IfModule>
