.p-fieldset, 
.p-fieldset .p-fieldset-legend {
    padding: 0.5em 1em;
}

.p-fieldset-toggleable .p-fieldset-legend {
    padding: 0;
}

.p-fieldset-toggleable .p-fieldset-legend a {
    padding: 0.5em 1em;
    cursor:pointer;
    white-space: nowrap;
    display: block;
}

.p-fieldset .p-fieldset-toggler {
    margin-right: .1em;
    display: inline-block;
    vertical-align: middle;
}

.p-fieldset .p-fieldset-legend-text {
    vertical-align: middle;
}

.p-fieldset-content-wrapper-enter,
.p-fieldset-content-wrapper-leave-to {
    max-height: 0;
}

.p-fieldset-content-wrapper-enter-to,
.p-fieldset-content-wrapper-leave {
    max-height: 1000px;
}

.p-fieldset-content-wrapper-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.p-fieldset-content-wrapper-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}