.p-radiobutton {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    vertical-align: bottom;
}

.p-radiobutton-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-radiobutton-icon {
    transform: scale(.5);
    transition-property: transform;
}

.p-radiobutton-box.p-highlight .p-radiobutton-icon {
    transform: scale(1);
}