.freya {
    .template {
        &-hero {

            &-pattern {
                height: auto;
                width: 45rem;
                position: absolute;
                bottom: -9rem;
                left: 0rem;
                z-index: 6;
            }
        }
    }

}

@media only screen and (max-width: 768px) {
    .freya {
        .template {
            &-hero {

                &-pattern {
                    width: 55rem;
                    height: auto;
                    bottom: -2rem;
                    left: 0;
                }
            }
        }

    }
}
