.p-card-header img {
    width: 100%;
}

.p-card-body {
    padding: 1em;
}

.p-card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .5em;
}

.p-card-subtitle {
    opacity: .7;
    margin-bottom: .5em;
    margin-top: -.25em;
    font-weight: bold;
}

.p-card-footer {
    padding-top: 1em;
}