:root {
    --p-primary-50: #ffffff;
    --p-primary-100: #fafafa;
    --p-primary-200: #f4f4f5;
    --p-primary-300: #e4e4e7;
    --p-primary-400: #d4d4d8;
    --p-primary-500: #a1a1aa;
    --p-primary-600: #71717a;
    --p-primary-700: #52525b;
    --p-primary-800: #27272a;
    --p-primary-900: #18181b;
    --p-primary-950: #09090b;
    --p-surface-0: #ffffff;
    --p-surface-50: #fafafa;
    --p-surface-100: #f4f4f5;
    --p-surface-200: #e4e4e7;
    --p-surface-300: #d4d4d8;
    --p-surface-400: #a1a1aa;
    --p-surface-500: #71717a;
    --p-surface-600: #52525b;
    --p-surface-700: #3f3f46;
    --p-surface-800: #27272a;
    --p-surface-900: #18181b;
    --p-surface-950: #09090b;
    --p-content-border-radius: 6px;
}