:root.p-dark {
    --p-primary-color: var(--p-primary-400);
    --p-primary-contrast-color: var(--p-surface-900);
    --p-primary-hover-color: var(--p-primary-300);
    --p-primary-active-color: var(--p-primary-200);
    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
    --p-highlight-color: rgba(255,255,255,.87);
    --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
    --p-highlight-focus-color: rgba(255,255,255,.87);
    --p-text-color: var(--p-surface-0);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
}

:root.p-dark.p-noir {
    --p-primary-color: var(--p-primary-50);
    --p-primary-contrast-color: var(--p-surface-950);
    --p-primary-hover-color: var(--p-primary-200);
    --p-primary-active-color: var(--p-primary-300);
    --p-highlight-background: var(--p-surface-50);
    --p-highlight-color: var(--p-surface-950);
    --p-highlight-focus-background: var(--p-surface-300);
    --p-highlight-focus-color: var(--p-surface-950);
}
