:root[class="p-dark"] {
    --primary-text-color:var(--p-primary-400);
    --primary-color: var(--p-primary-color);
    --primary-inverse-color:var(--p-primary-inverse-color);
    --primary-hover-color: var(--p-primary-hover-color);
    --text-color: var(--p-surface-0);
    --text-secondary-color: var(--p-surface-400);
    --glow-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png), radial-gradient(50% 50% at center -25px, var(--p-primary-color) 0%, #000000 100%);
    --glow-blend: hard-light, color-dodge;
    --topbar-sticky-background:rgba(0,0,0,.3);
    --mobile-menu-background: rgba(0,0,0,.3);
    --card-border: 1px solid transparent;
    --card-background: var(--p-surface-900);
    --border-color: var(--p-surface-700);
    --ground-background: var(--p-surface-950);
    --overlay-background: var(--p-surface-900);
    --hover-background: var(--p-surface-800);
    --code-background: var(--p-surface-900);
    --high-contrast-text-color: var(--p-surface-0);
    --hover-border-color: var(--p-surface-500);
    --mark-background: var(--p-surface-700);
    --mark-text-color: var(--p-surface-200);
    --selection-background: color-mix(in srgb, var(--primary-color), transparent 84%);
    --selection-text-color: rgba(255,255,255,.87);
    --code-button-text-color: var(--p-surface-300);
    --docsearch-mask-background: var(--p-mask-background);
}

/* PrimeFlex Compat */
:root[class="p-dark"] {
    --surface-0: var(--p-surface-900);
    --surface-50: var(--p-surface-800);
    --surface-100: var(--p-surface-700);
    --surface-200: var(--p-surface-600);
    --surface-300: var(--p-surface-500);
    --surface-400: var(--p-surface-400);
    --surface-500: var(--p-surface-300);
    --surface-600: var(--p-surface-200);
    --surface-700: var(--p-surface-100);
    --surface-800: var(--p-surface-50);
    --surface-900: var(--p-surface-0);
}