:root[class="p-dark"] {
    --primary-color-default:var(--p-dark-primary-400);
    --primary-color-inverse-default:var(--p-dark-zinc-900);
    --text-color: var(--p-dark-surface-0);
    --text-secondary-color: var(--p-dark-surface-400);
    --card-border: 1px solid transparent;
    --glow-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png), radial-gradient(50% 50% at center -25px, var(--p-primary-color) 0%, #000000 100%);
    --glow-blend: hard-light, color-dodge;
    --topbar-sticky-bg:rgba(0,0,0,.3);
    --mobile-menu-bg: rgba(0,0,0,.3);
    --surface-card: var(--p-dark-surface-900);
    --surface-border: var(--p-dark-surface-800);
    --surface-ground: var(--p-dark-surface-950);
    --surface-overlay: var(--p-dark-surface-900);
    --surface-hover: var(--p-dark-surface-800);
}