:root {
    --primary-color-default:var(--p-primary-600);
    --primary-color-inverse-default:var(--p-surface-0);
    --card-border: 1px solid var(--p-surface-200);
    --glow-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png);
    --glow-blend: hard-light, multiply;
    --topbar-sticky-bg:rgba(255,255,255,.7);
    --mobile-menu-bg: var(--p-surface-0);
    --surface-card: var(--p-surface-0);
    --surface-border: var(--p-surface-200);
    --surface-ground: var(--p-surface-50);
    --surface-overlay: var(--p-surface-0);
    --surface-hover: var(--p-hover-bg);
}