:root {
    --primary-color-default:var(--p-primary-600);
    --primary-color-inverse-default:var(--p-surface-0);
    --card-border: 1px solid var(--p-surface-200);
    --glow-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png);
    --glow-blend: hard-light, multiply;
    --topbar-sticky-bg:rgba(255,255,255,.7);
    --mobile-menu-bg: var(--p-surface-0);
    --demo-code-bg: var(--p-surface-800);
    --demo-code-button-color: var(--p-surface-300);
    --demo-code-button-hover-bg: rgba(255,255,255,.1);
    --demo-code-button-hover-color: var(--p-surface-100);
    --doc-highlight-text-bg: var(--p-surface-200);
    --doc-highlight-text-color: var(--p-surface-700);
}