.layout-wrapper.layout-light {
    --topbar-sticky-bg:rgba(255,255,255,.7);
    --card-border: 1px solid var(--surface-border);
    --card-bg: var(--surface-card);
    --glow-image: url(https://www.primefaces.org/cdn/primevue/images/layout/top-pattern-light.png);
    --topbar-border: rgba(0,0,0,.05);
    --mobile-menu-bg: var(--surface-overlay);
    --demo-code-bg: var(--surface-700);
    --demo-code-button-color: var(--surface-400);
    --demo-code-button-hover-bg: rgba(255,255,255,.1);
    --demo-code-button-hover-color: var(--surface-300);
    --doc-highlight-text-bg: var(--primary-100);
    --doc-highlight-text-color: var(--primary-900);
}