.layout-content {
    padding: 6rem 4rem 0 4rem;
    display: flex;

    .layout-content-slot {
        flex: 1 1 auto;
        width: 1%;
    }
}

.layout-wrapper-light {
    .card {
        background: var(--surface-ground);
        border: 1px solid var(--surface-border);
        padding: 2rem;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
}

.layout-wrapper-dark {
    .card {
        background: var(--surface-card);
        border: 0 none;
        padding: 2rem;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
}
