.landing, .layout-wrapper {
    &:before {
        top: 0;
        width: 100%;
        height: 236px;
        content: "";
        display: block;
        z-index: 0;
        background-image: var(--glow-image);
        position: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
}