/* Error: Undefined variable.
 *    ,
 * 41 |         background-color: $contrastButtonBg;
 *    |                           ^^^^^^^^^^^^^^^^^
 *    '
 *   /Users/jagatai/Development/projects/sass-theme/primevue-sass-theme/theme-base/components/misc/_badge.scss 41:27  @import
 *   /Users/jagatai/Development/projects/sass-theme/primevue-sass-theme/theme-base/_components.scss 93:13             @import
 *   /Users/jagatai/Development/projects/sass-theme/primevue-sass-theme/themes/fluent/fluent-light/theme.scss 3:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 41 \2502          background-color: $contrastButtonBg;\a    \2502                            ^^^^^^^^^^^^^^^^^\a    \2575 \a   /Users/jagatai/Development/projects/sass-theme/primevue-sass-theme/theme-base/components/misc/_badge.scss 41:27  @import\a   /Users/jagatai/Development/projects/sass-theme/primevue-sass-theme/theme-base/_components.scss 93:13             @import\a   /Users/jagatai/Development/projects/sass-theme/primevue-sass-theme/themes/fluent/fluent-light/theme.scss 3:9     root stylesheet";
}
