.p-checkbox {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    vertical-align: top;
}

.p-checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
}