.p-dialog {
    position: fixed;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.p-dialog-visible {
    display: block;
}
.p-dialog .p-dialog-titlebar {
	padding: .5em .75em;
    position: relative;
    border: 0;
}
.p-dialog .p-dialog-content {
    position: relative;
    border: 0;
    padding: .5em .75em;
    background: none;
    zoom: 1;
}
.p-dialog-resizable .p-dialog-content {
    overflow: auto;
}
.p-dialog .p-resizable-handle {
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px;
    position: absolute;
    font-size: .1px;
    display: block;
    cursor: se-resize;
}
.p-draggable .p-dialog-titlebar {
    cursor: move;
}
.p-dialog .p-dialog-titlebar-icons {
    float: right;
}
.p-dialog .p-dialog-titlebar-icons:after {
    content: "";
    display: table;
    clear: both;
}
.p-dialog .p-dialog-titlebar-icon {
    text-decoration: none;
    padding: .125em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
}

.p-dialog .p-dialog-titlebar-icon span {
    display: block;
    margin: 0;
}
.p-dialog-footer {
    padding: 1em;
    text-align: right;
}

.p-dialog-mask {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* ConfirmDialog */
.p-confirmdialog {
    width: 30em;
}

.p-confirmdialog.p-dialog .p-dialog-content {
    padding: 1em 2em;
}
.p-confirmdialog .p-dialog-content .p-confirmdialog-icon {
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: .5em;
}
.p-confirmdialog .p-dialog-content .p-confirmdialog-message {
    vertical-align: middle;
}

/* Fluid */
.p-fluid .p-dialog-footer .p-button {
    width: auto;
}

/* RTL */
.p-rtl .p-dialog .p-dialog-titlebar-close  {
    float: left;
}

.p-rtl .p-dialog .p-dialog-footer {
    text-align: left;
}

@media screen and (max-width: 40em) {
    .p-confirmdialog {
        width: 90%;
    }
}

/* Animation */
.p-dialog-enter-active {
    transition: all 150ms cubic-bezier(0, 0, 0.2, 1);
}

.p-dialog-leave-active {
    transition: all 75ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.p-dialog-enter,
.p-dialog-leave-to {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.7);
}

/* Maximize */
.p-dialog-maximized {
    -webkit-transition: none;
    transition: none;
    transform: none;
    width: 100vw !important;
    top: 0;
    left: 0;
}

.p-dialog-maximized .p-dialog-content {
    -webkit-transition: height .3s;
    transition: height .3s;
}