.p-inputtext {
    margin: 0;
    outline: medium none;
    padding: .25em;
    font-weight: normal;
}

.p-fluid .p-inputtext {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.p-inputgroup {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.p-inputgroup .p-inputgroup-addon {
    display: inline-block;
    text-align: center;
    min-width: 1.5em;
    padding: .25em;
    border-width: 1px;
    border-style: solid;
}

.p-inputgroup .p-inputgroup-addon + .p-inputgroup-addon {
    border-left: 0 none;
}

.p-inputgroup .p-inputtext {
    padding-left: .5em;
}

.p-inputgroup .p-inputtext:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0 none;
}

.p-inputgroup .p-inputtext:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 none;
}

.p-inputgroup .p-button {
    margin-right: 0;
    border-radius: 0;
}

.p-fluid .p-inputgroup .p-button {
    width: auto;
}

.p-fluid .p-inputgroup .p-inputtext {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.p-inputgroup .p-checkbox, 
.p-inputgroup .p-radiobutton {
    margin-right: 0;
    vertical-align: bottom;
}

/* Floating Label */
.p-float-label {
    display: block;
    position:relative; 
}

.p-float-label label {
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left: .25em;
  top: 50%;
  margin-top: -.5em;
  transition: 0.3s ease all; 
  -moz-transition: 0.3s ease all; 
  -webkit-transition: 0.3s ease all;
  color: #898989;
  line-height: 1;
}
    
.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top:-.75em;
  font-size:12px;
}

.p-float-label .input:-webkit-autofill ~ label {
  top:-20px;
  font-size:12px;
}