.layout-content {
    margin-left: 250px;
    padding-top: 70px;

    .content-section {
        padding: 2rem;

        &.introduction {
            background-color: var(--primary-color);
            color: var(--primary-color-text);

            .feature-intro {
                h1 {
                    font-size: 2rem;
                    margin: 0 0 1.5rem 0;
                    font-weight: 700;
                }

                p {
                    margin: 0;
                    line-height: 2;
                    font-size: 1.143rem;
                }

                a {
                    background-color: var(--primary-color-text);
                    color: var(--primary-color);
                    border-radius: 3px;
                    padding: 2px 4px;
                }
            }
        }

        &.implementation {
            background-color: var(--layer-0);
            color: var(--text-color);

            h3 {
                font-weight: 500;
                margin: 2rem 0 1rem 0;
                font-size: 1.286rem;
                color: var(--text-color);

                &:first-child,
                &.first {
                    margin-top: 0;
                }
            }

            .component-sizes {
                display: inline-flex;
                flex-direction: column;
            
                .p-component {
                    margin-bottom: 1rem;
                    flex: 0 0 auto;
             
                    &:last-child {
                        margin-bottom: 0;
                    } 
                }
            }
        }

        &.documentation {
            background-color: var(--layer-1);
            color: var(--text-color);

            h3 {
                margin-top: 1.5rem;
                margin-bottom: 0;
                font-size: 1.5rem;
                font-weight: 500;
                color: var(--text-color);

                &:first-child,
                &.first {
                    margin-top: 0;
                }
            }

            a {
                text-decoration: none;
                color: $linkColor;
                font-weight: 500;
            }

            p {
                font-size: 1rem;
                line-height: 1.5;
                margin: .75rem 0;
                color: var(--text-color);
            }

            .doc-tablewrapper {
                margin: 1rem 0;
                overflow: auto;
            }

            i:not([class~="pi"]) {
                background-color: var(--layer-0);
                color: #2196f3;
                font-family: Monaco, courier, monospace;
                font-style: normal;
                font-size: 12px;
                font-weight: 500;
                padding: 2px 4px;
                letter-spacing: .5px;
                border-radius: 3px;
                font-weight: 600;
                margin: 0 2px;
            }

            .p-tabview {
                background: transparent;
                border: 0 none;

                .p-tabview-nav {
                    border-radius: 0;
                    padding: 0;
                    border-bottom: 1px solid var(--layer-2);
                    background-color: transparent;

                    li {
                        margin-right: 0;
                        border: 0 none;
                        top: 1px;

                        a, a:visited {
                            color: var(--text-color-secondary);
                            text-shadow: none;
                            height: inherit;
                            background-color: transparent;
                            border: 0 none;
                            border-bottom: 1px solid transparent;
                            margin-bottom: -1px;
                            transition: background-color .2s;
                            font-weight: 500;

                            &:focus {
                                outline: 0 none;
                                transition: background-color .2s, box-shadow .2s;
                                box-shadow: 0 0 0 0.2em $focusBorderColor;
                            }
                        }

                        &.p-highlight a,
                        &.p-highlight:hover a {
                            background: transparent;
                            color: $linkColor;
                            border-bottom: 1px solid $linkColor;
                        }

                        &:not(.p-highlight):not(.p-disabled):hover a {
                            border-bottom: 1px solid  var(--primary-color);
                        }
                    }
                }

                .p-tabview-panels {
                    background: transparent;
                    border: 0 none;

                    .btn-viewsource {
                        display: inline-block;
                        padding: .5rem 1rem;
                    }

                    a {
                        text-decoration: none;
                        color: $linkColor;
                        font-weight: 500;
                    }
                }
            }
        }

        .doc-table {
            border-collapse: collapse;
            width: 100%;
            background-color: var(--layer-0);

            th {
                border-bottom: 1px solid var(--layer-2);
                padding: 1rem;
                text-align: left;
            }

            tbody{
                td {
                    padding: 1rem;
                    border-bottom: 1px solid var(--layer-2);
                }
            }
        }
    }
}