/* Home Component*/
.home {
    p {
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    a {
        color: var(--primary-color);
        font-weight: 500;
    }

    .introduction {
        background-color: var(--surface-a);
        background: url('./assets/images/home/intro-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 115px 30px 135px 50px;
        color: #455C71;
        position: relative;

        .introduction-promo {
            display: inline-block;
            margin-left: -50px;
            margin-bottom: 20px;
            padding: 10px 50px 10px 175px;
            font-size: 1.5rem;
            background-image: linear-gradient(90deg, #445C72 0%, #DBDCDE 100%);
            position: relative;
            color: #ffffff;
            font-weight: 700;

            img {
                position: absolute;
                height: 75px;
                left: 50px;
                top: -12px;
            }
        }

        h1 {
            font-weight: 400;
            margin-bottom: 5px;
            font-size: 24px;
        }

        h2 {
            font-weight: 700;
            margin-bottom: 40px;
            margin-top: 0;
            font-size: 24px;
        }

        .introduction-devices {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 60%;
        }
    }

    .features {
        background-color: var(--surface-b);
        text-align: center;
        padding: 0 30px 30px 30px;

        .feature-card {
            background-color: var(--surface-e);
            box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
            height: 100%;
            border-radius: 3px;

            .feature-card-detail {
                padding: 0 16px 16px 16px;
            }
        }

        h3 {
             font-size:24px;
             color: var(--text-color);
             padding: 30px 0 12px 0;
             margin: 0;
        }

        img {
            width: 100%;
        }

        .feature-name {
            display: block;
            font-weight: bold;
            font-size: 16px;
            margin-top: 1rem;
        }

        p {
            margin-top: 1rem;
            margin-bottom: 2rem;

            &.features-tagline {
                color: var(--text-color);
                margin-bottom: 0;
                margin-top: -5px;
                margin-bottom: 2rem;
            }
        }
    }

    .whouses {
        background-color: #34495E;
        color: #EAECEE;
        text-align: center;
        padding: 30px;

        h3 {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 12px;
        }

        img {
            height: 30px;
            width: 100%;
        }

        .p-grid > div {
            padding: 2em .5rem;
        }

        p {
            margin-bottom: 30px;

            > a {
                font-weight: bold;
            }
        }
    }

    .templates {
        background-color: var(--surface-b);
        text-align: center;
        padding: 30px;
        border-bottom: 1px solid var(--surface-d);

        h3 {
             font-size:24px;
             color: var(--text-color);
             margin-top: 0;
             margin-bottom: 12px;
        }

        h4 {
            font-size: 16px;
            font-weight: 700;
        }

        img {
            width: 100%;
            box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        }

        a {
            font-weight: bold;
        }
    }

    .primevue-designer {
        background-color: var(--surface-a);
        color: var(--text-color);
        padding: 30px;
    
        h3 {
            margin: 10px 0 20px 0;
            display: block;
            text-align: center;
            font-size: 24px;
        }
        
        img {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .prosupport {
        border-bottom: 1px solid var(--surface-d);
        background-color: var(--surface-b);
        padding: 30px;
        color: var(--text-color);

        p {
            line-height: 22px;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 24px;
        }

        img {
            margin-top: 10px;
        }

        .p-md-6:last-child {
            text-align: center;
        }

        .action-button {
            display: inline-block;
            margin-top: 1rem;
        }
    }
}