.layout-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    height: calc(100% - 70px);
    background-color: var(--layer-0);
    overflow: auto;
    width: 250px;
    border-right: 1px solid var(--layer-2);
    user-select: none;

    .layout-menu {
        > span {
            width: 100%;
            height: 3.5rem;
            display: block;
            padding-left: 1.5rem;
            background-color: var(--layer-1);
            color: var(--text-color-secondary);
            font-weight: 700;
            user-select: none;
            transition: background-color .2s;
            display: flex;
            align-items: center;

            span {
                margin-left: .5rem;
                display: block;
                line-height: 1;
            }
        }

        > div {
            padding: 1rem;
            display: flex;
            flex-direction: column;

            a {
                color: var(--text-color);
                display: block;
                padding: .5rem;
                border-radius: 3px;
                transition: background-color .2s;
                cursor: pointer;

                &:hover {
                    background-color: var(--layer-2);
                }

                &:focus {
                    z-index: 1;
                    outline: 0 none;
                    transition: box-shadow .2s;
                    box-shadow: 0 0 0 0.2em $focusBorderColor;
                }

                &.router-link-exact-active {
                    font-weight: 700;
                }
            }

            > div {
                &.router-link-exact-active {
                    > a {
                        font-weight: 700;
                    }      
                    
                    ul {
                        display: block;
                    }
                }

                ul {
                    padding: .5rem 0;
                    margin: 0;
                    list-style-type: none;

                    a {
                        font-size: .875rem;
                        padding: .475rem .5rem .475rem 2rem;
                    }
                }
            }
        }
    }
}