.layout-news {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-image: linear-gradient(197.37deg,rgba(0,120,227,.07) -.38%,rgba(165,72,181,0) 101.89%),linear-gradient( 115.93deg,rgba(62,136,246,.15) 4.86%,rgba(62,180,246,.05) 38.05%,rgba(62,235,246,0) 74.14%),radial-gradient(56.47% 76.87% at 6.92% 7.55%,rgba(62,136,246,.05) 0,rgba(62,158,246,.013) 52.16%,rgba(62,246,246,0) 100%),linear-gradient( 306.53deg,rgba(163,171,217,.1) 19.83%,rgba(163,171,217,0) 97.33%);
    background-color: #fff;

    .layout-news-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;

        .layout-news-details {
            display: flex;
            align-items: center;
            z-index: 1;

            .rate {
                color: #f2b837;
                font-size: 25px;
                font-weight: bold;
                margin: 0 .25rem;
            }

            .helper-text {
                background-color: #f2b837;
                color: #212121;
                padding: 0 0.2rem;
                margin-right: 0.3rem;
            }
        }

        .layout-news-button {
            border: 1px solid #283738;
            color: #283738;
            font-size: 15px;
            padding: .3em .3em .5em 1em;
            font-weight: 700;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            transition: background-color .15s;
            margin-left: 1rem;
            position: relative;
            z-index: 1;

            &:hover {
                background-color: rgba(0,0,0,.25);
            }
        }

        img.layouts-news-text-image {
            height: 60px;
        }

        img.layouts-news-mockup-image {
            height: 70px;
            display: inline-block;
            overflow: hidden;
        }
    }

    .layout-news-close {
        color: #fff;
        position: absolute;
        z-index: 2;
        right: 28px;
        background-color: rgba(0,0,0,.3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23px;
        height: 23px;
    }
}

.layout-wrapper.layout-news-active {
    .layout-topbar {
        top: 70px;
    }

    .layout-sidebar {
        top: 140px;
        height: calc(100% - 140px);
    }

    .layout-content {
        padding-top: 140px;
    }
}