
@media screen and (max-width: 960px) {
    .layout-wrapper.layout-news-active {
        .layout-content {
            padding-top: 180px;
        }
        .layout-sidebar {
            top: 0;
            height: 100%;
        }
        .layout-news-container {
            background-image: linear-gradient(180deg, rgba(255,255,255,0.30) 0%, #FFFFFF 100%);
        }
        img.layouts-news-mockup-image {
            display: none;
        }
    }

    .layout-topbar {
        height: 111px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;

        .menu-button {
            display: inline-block;
        }

        .logo {
            img{
                width: 150px;
            }
        }
        
        .app-theme {
            margin-left: 0;
            margin-right: 23px;
        }

        .topbar-menu {
            background-color: var(--surface-a);
            width: 100%;
            height: 41px;
            margin: 0;
            border-top: 1px solid var(--surface-d);

            > li {
                height: 40px;
                line-height: 40px;
                width: 25%;
                font-size: 14px;

                > a {
                    padding-bottom: 0;
                    height: 40px;
                    line-height: 36px;
                    width: 100%;
                    min-width: auto;
                }

                &.topbar-submenu > ul {
                    top: 40px;
                }
            }
        }
    }

    .layout-sidebar {
        top: 0;
        left: -300px;
        z-index: 999;
        height: 100%;
        transition: left .3s;

        &.active {
            left: 0;
        }
    }

    .layout-content {
        margin-left: 0;
        padding-top: 111px;

        .content-section {
            &.introduction { 
                flex-direction: column;
                
                .app-inputstyleswitch {
                    margin-top: 1.5rem;
                }
            }
        }

    }

    .home {
        .introduction > div {
            width: 100%;
        }

        .features > div {
            width: 100%;
        }

        .whouses > div {
            width: 100%;
        }

        .prosupport > div {
            width: 100%;
        }
    }

    .layout-content .content-section.content-submenu ul li {
        width: 50%;
    }

    .layout-config {
        height: 100%;
        transform: translate3d(100%,0,0);

        .layout-config-button {
            left: auto;
            right: -52px;
        }

        &.layout-config-active {
            width: 100%;
            transform: translate3d(0,0,0);
        }
    }
}

@media screen and (max-width: 640px) {
    .layout-wrapper.layout-news-active {
        .topbar-menu {
            > li.topbar-submenu {
                > ul  {
                    top: 180px;
                }
            }
        }
    }

    .layout-topbar {
        .topbar-menu {
            > li {
                &.topbar-submenu {
                    position: static;

                    > ul {
                        top: 110px;
                        position: fixed;
                        right: auto;
                        left: 0;
                        width: 100vw;
                    }
                }
            }
        }
    }
}