@charset "UTF-8";

@mixin background-gradient-left2right($start-color, $end-color) {
    background-color: $start-color;
    background-image: -webkit-linear-gradient(left, $start-color, $end-color);
    background-image: -moz-linear-gradient(left, $start-color, $end-color);
    background-image: -ms-linear-gradient(left, $start-color, $end-color);
    background-image: -o-linear-gradient(left, $start-color, $end-color);
    background-image: linear-gradient(to right, $start-color, $end-color);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start-color}', endColorStr='#{$end-color}', gradientType='1');
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin shadow($value...) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin border-radius-top($val) {
    -moz-border-radius-topleft: $val;
    -webkit-border-top-left-radius: $val;
    border-top-left-radius: $val;
    -moz-border-radius-topright: $val;
    -webkit-border-top-right-radius: $val;
    border-top-right-radius: $val;
}

@mixin border-radius-left($val) {
    -moz-border-radius-topleft: $val;
    -webkit-border-top-left-radius: $val;
    border-top-left-radius: $val;
    -moz-border-radius-bottomleft: $val;
    -webkit-border-bottom-left-radius: $val;
    border-bottom-left-radius: $val;
}

@mixin border-radius($val) {
    -moz-border-radius: $val;
    -webkit-border-radius: $val;
    border-radius: $val;
}

@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1)
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3)
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1)
    }
}

@mixin rotate($deg) {    
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}

$focusBorderColor:#8dcdff;

body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #484848;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

.layout-topbar {
    background-color: #ffffff;
    display: block;
    padding: 0;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 997;
    @include shadow(0 0 4px rgba(0,0,0,0.25));

    .menu-button {
        display: none;
        color: #484848;
        font-size: 24px;
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        cursor: pointer;
        @include transition(background-color .2s);

        &:hover {
            background-color: #eeeeee;
        }

        i {
            line-height: inherit;
        }
    }

    .logo {
        margin-left: 45px;
        margin-top: 8px;
        display: inline-block;

        img {
            width: 180px;
        }

        &:focus {
            outline: 0 none;
            transition: box-shadow .2s;
            box-shadow: 0 0 0 0.2em $focusBorderColor;
        }
    }
    
    .topbar-menu {
        list-style-type: none;
        float: right;
        margin: 0 60px 0 0;
        padding: 0;
        height: 100%;

        > li {
            display: inline-block;
            height: 70px;
            line-height: 70px;

            > a {
                text-decoration: none;
                color: #484848;
                min-width: 120px;
                font-size: 16px;
                display: inline-block;
                text-align: center;
                user-select: none;
                line-height: inherit;
                cursor: pointer;
                @include transition(background-color .2s);

                &:hover {
                    background-color: #eeeeee;
                }

                &:focus {
                    z-index: 1;
                    outline: 0 none;
                    transition: box-shadow .2s;
                    box-shadow: inset 0 0 0 0.2em $focusBorderColor;
                }
            }

            &.topbar-submenu {
                position: relative;

                > ul {
                    position: absolute;
                    top: 70px;
                    right: 0;
                    width: 275px;
                    max-height: 400px;
                    background-color: #ffffff;
                    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                    overflow: auto;
                    list-style-type: none;
                    padding: 6px 12px;
                    margin: 0;
                    border-radius: 3px;

                    > li {
                        line-height: 1;
                        
                        &.topbar-submenu-header {
                            padding: 6px 12px;
                            font-weight: bold;
                            text-align: left;
                            margin-top: 18px;

                            &:first-child {
                                margin-top: 6px;
                            }
                        }
                    }

                    a {
                        text-decoration: none;
                        color: #484848;
                        padding: 6px 12px;
                        display: block;
                        user-select: none;
                        cursor: pointer;
                        border-bottom: 1px solid #f4f4f4;
                        @include transition(background-color .2s);

                        &:hover {
                            background-color: #eeeeee;
                            cursor: pointer;
                        }

                        img {
                            width: 32px;
                            vertical-align: middle;
                            margin-right: 4px;
                        }

                        span {
                            margin-left: 8px;
                        }

                        i {
                            vertical-align: middle;
                            font-size: 24px;
                            margin-right: 4px;
                        }
                    }

                    li:last-child {
                        a {
                            border-bottom: 0 none;
                        }
                    }
                }

                &.topbar-resources-submenu {
                    > ul {
                        a {
                            padding: 12px 6px;

                            span {
                                margin-left: 6px;
                            }

                            &:before {
                                content: '\25cf';
                            }
                        }

                        
                    }
                }
            }
        }

        .theme-badge {
            padding: 2px 4px;
            vertical-align: middle;
            border-radius: 3px;
            color: #ffffff;
            font-weight: bold;
            font-size: 11px;
            position: relative;
            top: -1px;
        }
        
        .theme-badge.material {
            background: #2196F3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #2196F3, #2196F3);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #2196F3, #2196F3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
        }
        
        .theme-badge.bootstrap {
            background: #563D7C;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #563D7C, #966BD8);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #563D7C, #966BD8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
        }

        .theme-badge.darkmode {
            background-color: #141d26;
            background: -webkit-linear-gradient(to bottom, #141d26, #5a6067);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #141d26, #5a6067); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
        }
    }
}

.layout-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    height: calc(100% - 70px);
    background-color: #ffffff;
    overflow: auto;
    width: 280px;
    @include shadow(0 0 2px rgba(0,0,0,0.25));

    .layout-menu {

        > span {
            width: 100%;
            height: 50px;
            display: block;
            padding: 0px 0px 0px 20px;
            margin-bottom: 12px;
            border-top: solid 1px #e3e9ea;
            background-color: #f4f4f4;
            color: #767676;
            font-weight: 700;
            user-select: none;
            transition: background-color .2s;
            display: flex;
            align-items: center;

            span {
                font-size: 14px;
                margin: 0px 0px 0px 8px;
                display: block;
                text-transform: uppercase;
            }

            img {
                width: 20px;
                height: auto;
                float: left;

                &.layout-menu-icon-active {
                    display: none;
                }
                
                &.layout-menu-icon-inactive {
                    display: inline;
                }
            }
        }
        
        > div {
            background-color: #ffffff;
            padding: 0 15px 15px 15px;
            display: flex;
            flex-direction: column;
            
            a {
                display: inline-block;
                padding: 6px;
                cursor: pointer;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                font-size: 14px;
                color: #484848;
                transition: background-color .2s;

                &:hover {
                    background-color: #eeeeee;
                }

                &:focus {
                    z-index: 1;
                    outline: 0 none;
                    transition: box-shadow .2s;
                    box-shadow: 0 0 0 0.2em $focusBorderColor;
                }

                &.router-link-active {
                    color: #526F89;
                    font-weight: 700;
                }

                .menuitem-badge {
                    background: #00b09b;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to bottom, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
                    padding: 2px 4px;
                    vertical-align: middle;
                    border-radius: 3px;
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 11px;
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
}

.layout-mask {
    opacity: .1;
}

.layout-mask-active {
    z-index: 998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    background-color: #4c5254;
    opacity: .7;
    @include transition(opacity .5s);
}

.layout-content {
    margin-left: 280px;
    padding-top: 70px;
    
    .content-section {
        display: block;
        padding: 30px;
        background-color: #f8f8f8;

        &:first-of-type > div > span {
            line-height: 1.5em;
        }
        
        h2 {
            margin-top: 0;
        }
        
        &.introduction {
            color: #ffffff;
            @include background-gradient-left2right(#455C71,#526F89);
            
            .feature-intro {
                
                h1 {
                    font-size: 28px;
                    margin: 0 0 20px 0;
                    display: block;
                    text-align: left;
                    color: #ffffff;
                    font-weight: normal;
                }

                p {
                    margin: 0;
                    line-height: 2em;
                    font-size: 16px;
                    color: #ffffff;
                }

                a {
                    border-radius: 3px;
                    background-color: #ffffff;
                    padding: 2px 4px;
                    color: #484848;
                }
            }
        }
        
        &.implementation {
            background-color: #ffffff;

            > h3 {
                font-weight: 400;
                margin-top: 30px;
                font-size: 18px;

                &:first-child {
                    margin-top: 0px;
                }
            }

            .p-col-12 > h3 {
                font-weight: 400;
                margin-top: 30px;
                font-size: 18px;
            }

            h3.first {
                margin-top: 0px;
            }

            &.implementation-charts {
                background-color: #FFFFFF;
            }
        }

        &.content-submenu {
            background-color: #f4f4f4;
            padding: 15px 30px;
            @include clearfix();

            ul {
                margin: 0;
                padding: 0;
                width: 100%;

                li {
                    list-style: none;
                    width: 20%;
                    display: inline-block;
                    padding: .25em;

                    a {
                        color: #484848;
                        display: block;
                        width: 90%;
                        border: 1px solid transparent;
                        padding: 6px 12px;
                        border-radius: 3px;
                        @include transition(border-color .1s);

                        &:hover {
                            border: 1px solid #adadad;
                            color: #363636;
                            background-color: #ececec
                        }

                        &:focus {
                            outline: 0 none;
                            transition: box-shadow .2s;
                            box-shadow: 0 0 0 0.2em $focusBorderColor;
                        }
                    }
                }
            }
        }
        
        &.documentation {
            border-top: 1px solid #dadada;

            h3 {
                color:  #484848;
                margin-top: 25px;
                margin-bottom: 0px;
                font-size: 22px;
                font-weight: normal;
            }

            h4 {
                text-align: center;
                font-weight: 700;
                font-size: 16px;
            }

            p {
                color:  #484848;
                font-size: 14px;
                line-height: 24px;
                margin: 10px 0;
            }

            .doc-tablewrapper {
                margin: 16px 0;
                overflow: auto;
            }

            a {
                color: #638fb7;
                font-weight: 700;
                @include transition(color .2s);
        
                &:hover {
                    color: #82a5c5;
                }
            }
            
            .btn-viewsource {
                background-color: #444;
                padding: .5em 1em;
                border-radius: 2px;
                color: #fff;
                font-weight: 700;
                margin: .5em 0;
                display: inline-block;
                @include transition(background-color .2s);
                
                &:hover {
                    background-color: #595959;
                }
            }

            i:not([class~="pi"]) {
                background-color: #fcf2a7;
                font-family: monaco, Consolas, Lucida Console, monospace;
                font-weight: bold;
                font-style: normal;
                font-size: 14px;
                padding: 2px;
                letter-spacing: .5px;
            }

            /* Demo Tabs Source */
            .p-tabview {
                background: none;
                border: 0 none;

                .p-tabview-nav {
                    border-radius: 3px 3px 0 0;
                    padding: 4px 4px 0px 4px;
                    border-bottom: 1px solid #dadada;

                    li {
                        margin-right: 4px;
                        box-shadow: none !important;
                        border: 0 none;
                        top: 1px;
                        @include border-radius-top(3px);
                            
                        a {
                            font-weight: 700;
                            color: #34495e;
                            text-shadow: none;
                            height: inherit;
                            background-color: transparent;
                            padding-top: 8px;
                            border: 0 none;
                            border-bottom: 1px solid transparent;
                            @include border-radius-top(3px);
                            @include transition(background-color .2s);

                            &:focus {
                                outline: 0 none;
                                transition: background-color .2s, box-shadow .2s;
                                box-shadow: 0 0 0 0.2em $focusBorderColor;
                            }
                        }

                        &.tab-doc {
                            margin-right: 0;
                        }

                        &.p-highlight a,
                        &.p-highlight:hover a {
                            border: 0 none;
                            background: #f5f7f8;
                            color: #3294e0;
                            border-bottom: 1px solid #3294e0;
                        }

                        &:not(.p-highlight):not(.p-disabled):hover a {
                            color: #34495e;
                            background-color: transparent;
                            border: 0 none;
                            border-bottom: 1px solid #3294e0;
                        }
                    }
                }

                .p-tabview-panels {
                    background: transparent;
                    border: 0 none;
                    color: #484848;
                }
            }
        }

        &.support {
            .support-image {
                background-color: #484848;
                padding: 30px;
                color: #ffffff;
                text-align: left;

                .p-md-6:last-child {
                    text-align: right;
                }

                h3, p {
                    color: #ffffff;
                }
            }
                    
            li {
                line-height: 1.5;
            }
        }

        .doc-table {
            border-collapse: collapse;
            width: 100%;

            th {
                background-color: #d6dade;
                padding: 10px 14px;
                text-align: left;
                border: solid 1px #d6dade;
            }

            tbody{
                td {
                    padding: 10px 14px;
                    border: 1px solid #eaecee;
                }

                tr{
                    &:nth-child(even) {
                        background-color: #eaecee;
                    }
                    &:nth-child(odd) {
                        background-color: #ffffff;

                        td {
                            border: 1px solid #ffffff;
                        }
                    }
                }
            }
        }
    }
}

.layout-footer {
    font-size: 14px;
    color: #84939f;

    span a {
        margin-left: 0;
    }

    .footer-links {
        float: right;
        font-size: 24px;
    }
    
    a {
        margin-left: 16px;
    }
    
    .icon-github {
        width: 29.1px;
        height: 29.1px;
        color:#20272a
    }

    .icon-twitter {
        width: 29.1px;
        height: 29.1px;
        color:#20272a
    }
}

.layout-config {
    position: fixed;
    padding: 0;
    top: 70px;
    display: block;
    right: 0;
    width: 550px;
    z-index: 996;
    height: calc(100% - 70px);
    @include transition(transform .3s);
    transform: translate3d(550px,0,0);
    background-color: #ffffff;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
    &.layout-config-active {
        transform: translate3d(0,0,0);
        
        .layout-config-content {
            .layout-config-button {
                i {
                    @include rotate(360deg);
                }
            }
        }
    }

    .layout-config-content-wrapper {
        position: relative;
        height: 100%;
        padding: 0;
        @include shadow(0 2px 10px 0 rgba(0, 0, 0, 0.24));
        
        .layout-config-button {
            display: block;
            position: absolute;
            width: 52px;
            height: 52px;
            line-height: 52px;
            background-color: #445c71;
            text-align: center;
            color: #fafafa;
            top: 230px;
            left: -51px;
            z-index: -1;
            overflow: hidden;
            cursor: pointer;
            @include border-radius-left(3px);
            @include transition(background-color .2s, box-shadow .2s);
            box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
                        0 5px 22px 4px rgba(0, 0, 0, 0.12), 
                        0 12px 17px 2px rgba(0, 0, 0, 0.14);

            i {
                font-size: 42px;
                line-height: inherit;
                cursor: pointer;
                @include rotate(0deg);
                @include transition(transform 1s);
            }

            &:hover {
                background-color: #577691;
            }
        }
    }

    a {
        color: #638fb7;
        font-weight: 700;
        @include transition(color .2s);

        &:hover {
            color: #82a5c5;
        }
    }

    .layout-config-content {
        overflow: auto;
        height: 100%;
    }

    .layout-config-close {
        position: absolute;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        right: 20px;
        top: 20px;
        z-index: 999;
        background-color: #41b783;
        @include border-radius(50%);
        @include transition(background-color .2s, box-shadow .2s);

        i {
            color: #ffffff;
            line-height: inherit;
            font-size: 16px;
        }

        &:hover {
            background-color: #3aa476;
        }

        &:focus {
            outline: 0 none;
            box-shadow: 0 0 0 0.2em $focusBorderColor;
        }
    }

    h1 {
        font-size: 18px;
        letter-spacing: .1px;
        margin: 0 0 .5em 0;
    }

    .p-grid > div {
        padding: 1em;
        text-align: center;

        span {
            display: block;
        }
    }

    p {
        margin: 0 0 2em 0;
    }

    .free-themes {
        padding: 2em;
        color: #484848;
        background-color: #ffffff;

        p {
            color: #727272;
        }
    }

    .current-theme {
        box-shadow: 0 0 0 0.2em $focusBorderColor;
    }

    img {
        width: 100%;
    }

    button {
        text-align: center;
        position: relative;
        @include transition(box-shadow .2s);

        i {
            line-height: inherit;
            font-size: 28px;
            color: #41b783;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -18px;
            margin-top: -18px;
            padding: .18em;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 50%;
            width: 36px;
            height: 36px;
        }

        &:focus {
            box-shadow: 0 0 0 0.2em $focusBorderColor;
        }
    }

    .premium-themes {
        padding: 2em;
        background-color: #2c3135;
        color: #ffffff;

        p {
            color: #d8d8d8;
        }
    }
}

@media screen and (max-width: 1024px) {
    .layout-config {
        top: 110px;
        height: calc(100% - 110px);
        transform: translate3d(100%,0,0);
        
        .layout-config-button {
            left: auto;
            right: -52px;
        }

        &.layout-config-active {
            width: 100%;
            transform: translate3d(0,0,0);
        }
    }
}


.clearfix {
    display: inline-block;

    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

.home-button {
    font-weight: bold;
    text-align: center;
    color: #ffffff !important;
    background-color: #455C71;
    padding: 10px 24px 9px 24px;
    border-radius: 3px;
    @include transition(background-color .2s);

    &:hover {
        background-color: #708EA5;
        color: #ffffff;
    }
}

.home-button2 {
    font-weight: bold;
    text-align: center;
    color: #8C6816 !important;;
    background-color: #FFCB54;
    padding: 10px 24px 9px 24px;
    border-radius: 3px;
    @include transition(background-color .2s);
    display: inline-block;

    &:hover {
        background-color: #E5AF36;
        color: #8C6816 !important;
    }
}

/* Home Component*/
.home {
    p {
        line-height: 22px;
        margin-top: 0;
        margin-bottom: 2em;
    }
    a {
        color: #638fb7;
        @include transition(color .2s);

        &:hover {
            color: #82a5c5;
        }
    }
    
    /* Introduction */
    .introduction {
        background-color: #1976d2;
        background: url('./assets/images/home/primevue-introduction.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: #222222;
        padding: 115px 30px 135px 50px;

        h1 {
            font-weight: normal;
            margin-bottom: 5px;
            font-size: 24px;
        }

        h2 {
            font-weight: bold;
            margin-bottom: 40px;
            margin-top: 0;
            font-size: 24px;
        }

        > div {
            padding: 100px 100px 0 100px;
            height: 200px;
        }
    }

    /* Features */
    .features {
        background-color: #f9f9f9;
        text-align: center;
        padding: 0 30px 30px 30px;

        .feature-card {
            background-color: #ffffff;
            @include shadow(0 0.8px 1.7px rgba(0, 0, 0, 0.008), 0 1.9px 4.2px rgba(0, 0, 0, 0.012),0 3.6px 7.9px rgba(0, 0, 0, 0.015),0 6.5px 14.1px rgba(0, 0, 0, 0.018),0 12.1px 26.3px rgba(0, 0, 0, 0.022),0 29px 63px rgba(0, 0, 0, 0.03));
            height: 100%;
            border-radius: 4px;
            
            .feature-card-detail {
                padding: 0 16px 16px 16px;
            }
        }

        h3 {
             font-size:24px;
             color: #484848;
             padding: 30px 0 12px 0;
             margin: 0;
        }

        img {
            width: 100%;
        }

        .feature-name {
            display: block;
            font-weight: bold;
            font-size: 16px;
            margin-top: 1em;
            color: #20272a;
        }

        .p-g {
            p {
                color: #20272a;
                margin-bottom: 30px;
            }

            > div {
                padding: .5em 2em;
            }
        }

        p {
            margin-top: 1em;
            margin-bottom: 2em;

            &.features-tagline {
                color: #484848;
                margin-bottom: 0;
                margin-top: -5px;
            }

            &.features-description {
                color: #484848;
                text-align: left;
            }

            > a {
                font-weight: bold;
            }
        }
    }

    /* Who Uses */
    .whouses {
        background-color: #222222;
        color: #ffffff;
        text-align: center;
        padding: 30px;

        h3 {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 12px;
        }

        img {
            height: 30px;
            width: 100%;
        }

        .p-grid > div {
            padding: 2em .5em;
        }

        p {
            margin-bottom: 30px;

            > a {
                font-weight: bold;
            }
        }
    }
    
    .templates {
        background-color: #f5f7f8;
        text-align: center;
        padding: 30px;
        border-bottom: 1px solid #c4c5c6;
        
        h3 {
             font-size:24px;
             color: #484848;
             margin-top: 0;
             margin-bottom: 12px;
        }

        h4 {
            font-size: 16px;
            font-weight: 700;
        }
        
        img {
            width: 100%;
        }

        a {
            font-weight: bold;
        }
    }

    /* PRO */
    .prosupport {
        border-bottom: 1px solid #dcdedf;
        background-color: #f5f7f8;
        padding: 30px;
        color: #222222;

        p {
            line-height: 22px;
            margin-bottom: 1em;
        }

        h3 {
            font-size: 24px;
        }

        img {
            margin-top: 10px;
        }

        .p-md-6:last-child {
            text-align: center;
        }
    }
}

.icons-page {
    .icons-list {
        text-align: center;
    }

    .icons-list i {
        font-size: 2em;
    }

    .icons-list .p-md-2 {
        padding-bottom: 2em;
    }
}

@media screen and (max-width: 960px) {
    .layout-topbar {
        text-align: center;

        .menu-button {
            display: inline-block;
        }

        .logo {
            margin: 7px 0 6px;

            img{
                width: 180px;
            }
        }
        
        .topbar-menu {
            background-color: #ffffff;
            float: none;
            width: 100%;
            height: 41px;
            margin: -1px 0 0 0;
            border-bottom: 1px solid #e3e9ea;
            border-top: 1px solid #e3e9ea;

            > li {
                height: 40px;
                line-height: 40px;
                width: 25%;
                font-size: 14px;

                > a {
                    padding-bottom: 0;
                    height: 40px;
                    width: 100%;
                    min-width: auto;
                }

                &.topbar-submenu > ul {
                    top: 40px;
                    text-align: left;
                }
            }
        }
    }


    .layout-sidebar {
        top: 70px;
        left: -300px;
        z-index: 999;
        @include transition(left .3s);

        &.active {
            left: 0;
        }
    }

    .layout-content {
        margin-left: 0;
        padding-top: 111px;
        
        .content-section {
            &.submenu ul li {
                width: 50%;
            }
        }
        
    }

    .home {
        .introduction > div {
            width: 100%;
        }

        .features > div {
            width: 100%;
        }

        .whouses > div {
            width: 100%;
        }

        .prosupport > div {
            width: 100%;
        }
    }

    .layout-content .content-section.content-submenu ul li {
        width: 50%;
    }
}

input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
a{
    text-decoration: none;
    color: #4eafe6;
}

@media screen and (max-width: 640px) {
    .layout-topbar {
        .topbar-menu {
            > li {
                &.topbar-submenu {
                    position: static;

                    > ul {
                        top: 110px;
                        position: fixed;
                        right: auto;
                        left: 0;
                        width: 100vw;
                    }
                }
            }
        }
    }
}

/* Animation */
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

pre[class*="language-"] code {
    border-left: 10px solid #d6dade !important;
    box-shadow: -1px 0px 0px 0px #d6dade, 0px 0px 0px 1px #f8f8f8 !important;
    background: #ffffff !important;
    margin: 1em 0;

    code {
        font-size: 14px;

        .token {
            &.tag {
                color: #d57935;
            }

            &.attr-value {
                color: #308eea;
            }

            &.language-javascript {
                color: #1990b8;
            }

            &.operator {
                background: transparent;
            }
        }
    }
}

.p-toast.p-toast-topright,
.p-toast.p-toast-topleft {
    top: 100px;
}

/* Dark Theme such as luna-amber, luna-blue, luna-green and luna-pink */
.dark-theme {
    .implementation { 
        background-color: #3f3f3f !important; 
        color: #dedede !important;

        > h3,
        > h4 {
            color: #dedede !important
        }
    }
}