.layout-light {
    --home-highlight-color:#10b981;
    --home-highlight-darker-color:#059669;
    --home-highlight-fore-color:#ffffff;
    --home-bg:#F9FAFB;
    --home-border-color:rgba(0,0,0,.1);
    --home-primary-text-color:#191919;
    --home-secondary-text-color:#73879E;
    --home-card-shadow:0px 7px 15px 0px rgba(0, 0, 0, 0.02), 0px 28px 28px 0px rgba(0, 0, 0, 0.02), 0px 63px 38px 0px rgba(0, 0, 0, 0.01), 0px 111px 44px 0px rgba(0, 0, 0, 0.00), 0px 174px 49px 0px rgba(0, 0, 0, 0.00);
    --home-box-bg:#ffffff;
    --home-linkbox-bg:#ffffff;
    --home-linkbox-border:1px solid rgba(0,0,0,.1);
    --home-linkbox-text-color:#191919;
    --home-linkbox-hover-bg:#e5e7eb;
    --home-blocks-bg:transparent;
    --home-blocks-block-bg:#ffffff;
    --home-blocks-block-shadow:-10px 4px 10px 0px rgba(0, 0, 0, .1), -10px 4px 25px rgba(0, 0, 0, .1);
    --home-blocks-border-left:5px solid rgba(0,0,0,.1);
    --home-blocks-border-bottom:7px solid rgba(0,0,0,.1);
    --home-blocks-border:1px solid rgba(0,0,0,.1);
    --home-blocks-sidebar-bg:#f9fafb;
    --home-blocks-list-bg:#f2f3f3;
    --home-blocks-main-bg:#ffffff;
    --home-blocks-main-border:1px solid rgba(0,0,0,.1);
    --home-blocks-item-bg:#f2f3f3;
    --home-blocks-image-bg:#a1e3db;
    --home-blocks-text-color:#b3b4b5;
    --home-blocks-active-shadow:0px 30px 50px 0px rgba(0, 0, 0, .1);
    --home-blocks-active-border-top:1px solid rgba(0,0,0,.1);
    --home-blocks-active-border-right:1px solid rgba(0,0,0,.1);
    --home-blocks-active-border-bottom:6px solid rgba(0,0,0,.1);
    --home-blocks-active-border-left:4px solid rgba(0,0,0,.1);
    --home-blocks-animation-shadow:0px 30px 50px 10px rgba(0, 0, 0, .2);
    --home-blocks-tablebar-bg:#a1e3db;
    --home-blocks-bar-bg:#a1e3db;
    --home-blocks-bar-button-bg:#ffffff;
    --home-blocks-circle-bg:#a1e3db;
    --home-templates-bg:transparent;
    --home-templates-block-shadow:0px 4.787564754486084px 10px 0px rgba(0,0,0,.1);
    --home-templates-block-border-left:5px solid #edf0f3;
    --home-templates-block-border-bottom:7px solid#edf0f3;
    --home-templates-line:rgba(0,0,0,.1);
    --home-templates-block-hover-bg:rgba(0, 0, 0, 0.2);
    --home-templates-btn-bg:rgba(0, 0, 0, 0.5);
    --home-templates-btn-text-color:#ffffff;
    --home-templates-btn-shadow:0px 10px 15px 0px rgba(0, 0, 0, 0.5);
    --home-templates-btn-border-top:1px solid rgba(0,0,0,.1);
    --home-templates-btn-border-right:1px solid rgba(0,0,0,.1);
    --home-templates-btn-border-bottom:4px solid rgba(0,0,0,.1);
    --home-templates-btn-border-left:3px solid rgba(0,0,0,.1);
    --home-features-card-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.02), 0px 28px 28px 0px rgba(0, 0, 0, 0.02), 0px 63px 38px 0px rgba(0, 0, 0, 0.01), 0px 111px 44px 0px rgba(0, 0, 0, 0.00), 0px 174px 49px 0px rgba(0, 0, 0, 0.00);
}