.p-accordion { 
    width: 100%; 
}

.p-accordion .p-accordion-header { 
    cursor: pointer; 
    position: relative; 
    margin-top: 1px; 
    zoom: 1; 
}

.p-accordion .p-accordion-header a { 
    display: block; 
    padding: .5em;
}

.p-accordion .p-accordion-toggle-icon,
.p-accordion .p-accordion-header-text {
    vertical-align: middle;   
}

.p-accordion .p-accordion-header a > span { 
    display: inline-block; 
    vertical-align: middle;
}

.p-accordion .p-accordion-content { 
    padding: 1em;
    border-top: 0;
    zoom: 1;
}

.p-accordion .p-accordion-header.p-disabled, 
.p-accordion .p-accordion-header.p-disabled a { 
    cursor: default; 
}

.p-accordion-content-wrapper-enter,
.p-accordion-content-wrapper-leave-to {
    max-height: 0;
}

.p-accordion-content-wrapper-enter-to,
.p-accordion-content-wrapper-leave {
    max-height: 1000px;
}

.p-accordion-content-wrapper-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.p-accordion-content-wrapper-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}