.p-paginator {
	margin: 0;
	text-align: center;
	padding: .125em;
}

.p-paginator .p-paginator-top {
	border-bottom: 0 none;
}

.p-paginator .p-paginator-bottom {
	border-top:0 none;
}

.p-paginator .p-paginator-left-content {
	float: left;
}

.p-paginator .p-paginator-right-content {
	float: right;
}

.p-paginator .p-paginator-page,
.p-paginator .p-paginator-pages,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last,
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-current {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	zoom: 1;
	margin-left: .063em;
	margin-right: .063em;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

.p-paginator .p-paginator-pages {
	width: auto;
	line-height: 1;
}

.p-paginator .p-paginator-icon {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1em;
	height: 1em;
	margin-top: -.5em;
	margin-left: -.5em;
}

.p-paginator .p-paginator-page,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last,
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev{
	cursor: pointer;
}

.p-paginator .p-paginator-current,
.p-paginator .p-paginator-rpp-options {
	margin-left: 1em;
	margin-right: 1em;
	background-image: none;
}

.p-paginator .p-paginator-jtp-select option,
.p-paginator .p-paginator-rpp-options option {
	background-image: none;
	border: 0 none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.p-paginator a.p-disabled {
	outline: 0 none;
}

.p-paginator .p-dropdown {
	min-width: 4em;
	margin-left: .375em;
}

.p-fluid .p-paginator .p-dropdown {
	width: auto;
}

.p-paginator .p-paginator-current {
	width: auto;
	height: auto;
}