.p-messages-wrapper {
    padding: 1em;
    position: relative;
}

.p-messages-icon-container,
.p-messages-close-container {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.p-messages-text {
    display: inline-block;
    vertical-align: middle;
}

.p-messages-icon {
    padding: 0;
    margin-right: .25em;
    vertical-align: middle;
}

.p-messages .p-messages-summary {
    font-weight: bold;
    margin-right: .25em;
}

.p-messages-close {
    position: absolute;
}

.p-messages-enter {
    opacity: 0;
}

.p-messages-enter-active {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.p-messages.p-messages-leave {
    max-height: 1000px;
}

.p-messages.p-messages-leave-to {
    max-height: 0;
    opacity: 0;
    margin: 0 !important;
}

.p-messages-leave-active {
    overflow: hidden;
    -webkit-transition: max-height .3s cubic-bezier(0, 1, 0, 1), opacity .3s, margin .3s;
    transition: max-height .3 cubic-bezier(0, 1, 0, 1), opacity .3s, margin .3s;
}

.p-messages-leave-active .p-messages-close {
    display: none;
}