.p-overlaypanel {
    padding: 0;
    margin: 0;
    position: absolute;
}

.p-overlaypanel-content {
    padding: 0.5em 1em;
}

.p-overlaypanel-close {
    position: absolute;
    top: -1em;
    right: -1em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.p-overlaypanel-close-icon {
    line-height: inherit;
}

/* Animation */
.p-overlaypanel-enter,
.p-overlaypanel-leave-to {
    opacity: 0;
    transform: translate3d(-50%, -25%, 0) scale(0.9);
}

.p-overlaypanel-enter-active,
.p-overlaypanel-leave-active {
    transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.p-overlaypanel-enter,
.p-overlaypanel-leave-to {
    opacity: 0;
    -webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
    transform: translateY(5%);
}

.p-overlaypanel-enter-active,
.p-overlaypanel-leave-active {
    -webkit-transition: transform .3s, opacity .15s;
    transition: transform .3s, opacity .15s;
}